[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/quickrun"]
	path = .vim/bundle/quickrun
	url = git://github.com/thinca/vim-quickrun.git
[submodule ".vim/bundle/singlecompile"]
	path = .vim/bundle/singlecompile
	url = git://github.com/vim-scripts/SingleCompile.git
[submodule ".vim/bundle/vimshell"]
	path = .vim/bundle/vimshell
	url = git://github.com/Shougo/vimshell.git
[submodule ".vim/bundle/vimproc"]
	path = .vim/bundle/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule ".vim/bundle/quickfixstatus"]
	path = .vim/bundle/quickfixstatus
	url = git://github.com/dannyob/quickfixstatus.git
[submodule ".vim/bundle/vim-hier"]
	path = .vim/bundle/vim-hier
	url = git://github.com/jceb/vim-hier.git
[submodule ".vim/bundle/unite"]
	path = .vim/bundle/unite
	url = git://github.com/Shougo/unite.vim.git
[submodule ".vim/bundle/unite-banban2"]
	path = .vim/bundle/unite-banban2
	url = git://github.com/osyo-manga/unite-banban2.git
[submodule ".vim/bundle/vimfiler"]
	path = .vim/bundle/vimfiler
	url = git://github.com/Shougo/vimfiler.git
[submodule ".vim/bundle/alignta"]
	path = .vim/bundle/alignta
	url = git://github.com/h1mesuke/vim-alignta.git
[submodule ".vim/bundle/rainbow_parentheses"]
	path = .vim/bundle/rainbow_parentheses
	url = git://github.com/kien/rainbow_parentheses.vim.git
