names=new,open
visibility=public
kind=defined

--- open(path) -> UNIXSocket
--- new(path)  -> UNIXSocket
--- open(path){|sock| ...} -> object
--- new(path){|sock| ...} -> object

path で指定したパス名を用いてソケットを接続します。

ブロックを省略すると接続したソケットを返します。

ブロックを渡した場合は、接続したソケットを引数としてそのブロックを呼びだし、
ブロック終了時にソケットを閉じます。この場合には
ブロックの評価値を返り値として返します。

@param path 接続先のパス名文字列

