names=pair,socketpair
visibility=public
kind=defined

--- pair(type=Socket::SOCK_STREAM, protocol=0) -> [UNIXSocket, UNIXSocket]
--- socketpair(type=Socket::SOCK_STREAM, protocol=0) -> [UNIXSocket, UNIXSocket]

相互に結合された UNIX ソケットのペアを含む2要素の配列を返します。

type にはソケットタイプを指定します。
Socket::SOCK_STREAM, Socket::SOCK_DGRAM, Socket::SOCK_RAW などの
整数、:STREAM, :DGRAM, :RAW などのシンボル、
"STREAM" などの文字列が渡せます。

protocol には プロトコルを指定します。0 は Unix domain でのデフォルト値が
使われます。

  s1, s2 = UNIXSocket.pair
  s1.send "a", 0
  s1.send "b", 0
  p s2.recv(10) #=> "ab"

@param type ソケットタイプ
@param protocol プトロコル

