names=local_address
visibility=public
kind=defined

--- local_address -> Addrinfo
[[man:getsockname(2)]] で得られたローカルアドレス情報を
[[c:Addrinfo]] オブジェクトとして返します。

返されたオブジェクトの [[m:Addrinfo#protocol]] は 0 を
返すことに注意してください。

  TCPSocket.open("www.ruby-lang.org", 80) {|s|
    p s.local_address #=> #<Addrinfo: 192.168.0.129:36873 TCP>
  }
  
  TCPServer.open("127.0.0.1", 1512) {|serv|
    p serv.local_address #=> #<Addrinfo: 127.0.0.1:1512 TCP>
  }

@see [[m:BasicSocket#getsockname]]

