names=recvmsg_nonblock
visibility=public
kind=defined

--- recvmsg_nonblock(maxmesglen=nil, flags=0, maxcontrollen=nil, opts={}) -> [String, Addrinfo, Integer, *Socket::AncillaryData]

[[man:recvmsg(2)]] を用いてノンブロッキング方式でメッセージを受け取ります。

ブロッキングの有無以外は [[m:BasicSocket#recvmsg]] と同じです。
詳しくはそちらを参照してください。

@param maxmesglen 受け取るメッセージの最大長
@param flags フラグ
@param maxcontrollen 受け取る補助データの最大長
@param opts ハッシュオプション

