names=send
visibility=public
kind=defined

--- send(mesg, flags, host, port) -> Integer
--- send(mesg, flags, sockaddr_to) -> Integer
--- send(mesg, flags) -> Integer

UDP ソケットを介してデータを送ります。

flags には Socket::MSG_* という定数の bitwise OR を渡します。
詳しい意味は [[man:send(2)]] を参照してください。

host, port の対、もしくは sockaddr_to で送り先を指定します。
送り先を省略した場合は [[m:UDPSocket#connect]] で接続した
先にデータを送ります。

実際に送ったデータの長さを返します。

sockaddr_to には[[ref:lib:socket#pack_string]] もしくは
[[c:Addrinfo]] オブジェクトを指定します。

host, port に関しては [[ref:lib:socket#host_format]]、
[[ref:lib:socket#service_format]]を参照してください。

2 引数、3 引数の形式の場合の動作は、
[[m:BasicSocket#send]] と同じです。

4 引数の形式で、指定したホストが複数のアドレスを持つ場合、いずれか
のアドレスへの送信が成功するまで(あるいはすべての送信が失敗するま
で)、各アドレスへの送信を順に試みます。

データの送信に失敗した場合は例外 [[c:Errno::EXXX]] が発生します。

@param mesg 送るデータ文字列
@param flags フラグ
@param host 送り先のホスト名
@param port 送り先のポート番号
@param sockaddr_to 送り先のアドレス情報

