names=new,open
visibility=public
kind=defined

--- open(address_family=Socket::AF_INET) -> UDPSocket
--- new(address_family=Socket::AF_INET) -> UDPSocket
新しい UDP ソケットを返します。

address_family には Socket::AF_INET のような整数、:INET のような
シンボル、"INET" のような文字列を指定することができます。

@param address_family ソケットのアドレスファミリー
