names=AF_ATM,PF_ATM
visibility=public
kind=defined

--- AF_ATM -> Integer
--- PF_ATM -> Integer

ATM。
[[m:Socket.open]] の第一引数 domain に使用します。

@see [[man:socket(2freebsd)]]

