names=IP_RECVOPTS
visibility=public
kind=defined

--- IP_RECVOPTS -> Integer
Receive IP destination address with datagram。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第2引数(optname)に使用します。

@see [[m:Socket::Constants::IPPROTO_IP]], 
     [[man:ip(7linux)]]

