names=INADDR_ALLHOSTS_GROUP
visibility=public
kind=defined

--- INADDR_ALLHOSTS_GROUP -> Integer
Multicast group for all systems on this subset。
IPv4の 244.0.0.1 に対応する整数です。

@see [[url:http://www.iana.org/assignments/multicast-addresses/multicast-addresses.xml]], [[RFC:5771]]

