names=IP_MULTICAST_IF
visibility=public
kind=defined

--- IP_MULTICAST_IF -> Integer
IP multicast interface。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第2引数(optname)に使用します。

@see [[m:Socket::Constants::IPPROTO_IP]], 
     [[man:ip(4freebsd)]], [[man:ip(7linux)]]

