names=SOCK_SEQPACKET
visibility=public
kind=defined

--- SOCK_SEQPACKET -> Integer

固定最大長を持つストリーム通信。
[[m:Socket.open]] の第二引数 type に使用します。

@see [[m:Socket.open]], [[man:socket(2)]], [[man:socket(2linux)]],
     [[man:socket(2freebsd)]]

