names=SOCK_PACKET
visibility=public
kind=defined

--- SOCK_PACKET -> Integer

デバイスレベルインターフェース。Obsoleteであり使うべきではない。
[[m:Socket.open]] の第二引数 type に使用します。

@see [[man:packet(7linux)]], [[m:Socket.open]]

