names=SO_DETACH_FILTER
visibility=public
kind=defined

--- SO_DETACH_FILTER -> Integer
Detach socket filter。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第2引数(optname)に使用します。

@see [[man:socket(7linux)]], [[url:http://git.kernel.org/?p=linux/kernel/git/torvalds/linux.git;a=blob;f=Documentation/networking/filter.txt;hb=HEAD]],
     [[m:Socket::Constants::SOL_SOCKET]]

