names=SO_PASSCRED
visibility=public
kind=defined

--- SO_PASSCRED -> Integer
Receive SCM_CREDENTIALS messages。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第2引数(optname)に使用します。

@see [[man:socket(7linux)]], [[man:unix(7linux)]],
     [[m:Socket::Constants::SOL_SOCKET]]

