names=addr
visibility=public
kind=defined

--- addr -> [String, String]

ソケットの接続情報を表す配列を返します。配列の各要素は第1要
素が文字列 "AF_UNIX"、第2要素がパスを表す文字列です。

クライアント側はパスを持たないため空文字列となります。
例:

  UNIXServer.open("/tmp/s") {|serv|
    p serv.addr     #=> ["AF_UNIX", "/tmp/s"]
  }

  UNIXServer.open("/tmp/s") {|serv|
    c = UNIXSocket.open("/tmp/s")
    p c.peeraddr    #=> ["AF_UNIX", "/tmp/s"]
    p c.addr #=> ["AF_UNIX", ""]
  }

@see [[m:UNIXSocket#peeraddr]]
