names=path
visibility=public
kind=defined

--- path -> String
UNIX ソケットのパスを返します。

クライアント側はパスを持たないため空文字列となります。

例:

  UNIXServer.open("/tmp/s") {|serv|
    p serv.path     #=> "/tmp/s"
  }

