names=recvfrom
visibility=public
kind=defined

--- recvfrom(maxlen, flags = 0) -> [String [String, String]]
[[man:recvfrom(2)]] を用いてソケットからメッセージを受け取ります。

maxlen で受け取るメッセージの最大長をバイト数で指定します。

flags には Socket::MSG_* という名前の定数の bitwise OR を渡します。

戻り値は文字列と相手ソケットのパスのペアです。

例:

  UNIXServer.open("/tmp/s") {|serv|
    c = UNIXSocket.open("/tmp/s")
    s = serv.accept
    s.send "a", 0
    p c.recvfrom(10)[0]     #=> "a"
  }

@param maxlen 受け取るメッセージの最大長
@param flags フラグ

