names=recv_io
visibility=public
kind=defined

--- recv_io(klass=IO, mode=nil) -> Fixnum|IO|object

ソケットの接続先からファイルディスクリプタを受け取ります。

klass が nil の場合、ファイルディスクリプタが Fixnum として
返されます。

klass が nil でない場合、
klass.for_fd(fd[, mode]) が呼ばれ、その値が返されます。

例:

  s1, s2 = UNIXSocket.pair
  s1.send_io STDOUT
  io = s2.recv_io
  p File.identical?(io, STDOUT)     #=> true

@param klass 受け取ったファイルディスクリプタを変換するためのクラス
@param mode for_fd に渡すファイルモード
