names=afamily
visibility=public
kind=defined

--- afamily -> Integer
アドレスファミリーを整数で返します。

  Addrinfo.tcp("localhost", 80).afamily == Socket::AF_INET #=> true


