names=bind
visibility=public
kind=defined

--- bind -> Socket
--- bind{|sock| ... } -> object

自身のアドレスにバインドされたソケットを作成します。

ブロックが渡されたときにはそのブロックに生成された [[c:Socket]]
オブジェクトが渡されます。ブロックの返り値がメソッドの返り値となります。
ブロックを省略した場合は、生成された [[c:Socket]]
オブジェクトが返されます。

  Addrinfo.udp("0.0.0.0", 9981).bind {|s|
    s.local_address.connect {|s| s.send "hello", 0 }
    p s.recv(10) #=> "hello"
  }

