names=connect
visibility=public
kind=defined

--- connect -> Socket
--- connect{|sock| ... } -> object

自身のアドレスへソケットを接続します。

ブロックが渡されたときにはそのブロックに接続済み [[c:Socket]]
オブジェクトが渡されます。ブロックの返り値がメソッドの返り値となります。
ブロックを省略した場合は、接続済み [[c:Socket]]
オブジェクトが返されます。


