names=family_addrinfo
visibility=public
kind=defined

--- family_addrinfo(host, port) -> Addrinfo
--- family_addrinfo(path) -> Addrinfo

引数から自身に「似た」Addrinfo オブジェクトを生成します。

「似た」の意味はプロトコルファミリ、ソケットタイプ、プロトコルが
同じことを意味します。
  Addrinfo.tcp("0.0.0.0", 4649).family_addrinfo("www.ruby-lang.org", 80)
  #=> #<Addrinfo: 221.186.184.68:80 TCP (www.ruby-lang.org:80)>
  
  Addrinfo.unix("/tmp/sock").family_addrinfo("/tmp/sock2")
  #=> #<Addrinfo: /tmp/sock2 SOCK_STREAM>

@param host ホスト(IP アドレスもしくはホスト名)
@param port ポート番号(整数)もしくはサービス名(文字列)
@param path Unix domain socket のパス

