names=inspect_sockaddr
visibility=public
kind=defined

--- inspect_sockaddr -> String
アドレスやポート番号などの情報を人間に読める形の文字列で返します。

  Addrinfo.tcp("localhost", 80).inspect_sockaddr     #=> "127.0.0.1:80"
  Addrinfo.tcp("ip6-localhost", 80).inspect_sockaddr #=> "[::1]:80"
  Addrinfo.unix("/tmp/sock").inspect_sockaddr        #=> "/tmp/sock"
