names=ipv6_loopback?
visibility=public
kind=defined

--- ipv6_loopback? -> bool
IPv6 のループバックアドレス(::1)であれば真を返します。

@see [[m:Addrinfo#ipv4_loopback?]]


