names=ipv4?
visibility=public
kind=defined

--- ipv4? -> bool
アドレスが IPv4 のものならば true を返します。

@see [[m:Addrinfo#ip?]], [[m:Addrinfo#ipv6?]]

  Addrinfo.tcp("127.0.0.1", 80).ipv4? #=> true
  Addrinfo.tcp("::1", 80).ipv4?       #=> false
  Addrinfo.unix("/tmp/sock").ipv4?    #=> false

