names=ip?
visibility=public
kind=defined

--- ip? -> bool
アドレスが IP (v4/v6) のものならば true を返します。

  Addrinfo.tcp("127.0.0.1", 80).ip? #=> true
  Addrinfo.tcp("::1", 80).ip?       #=> true
  Addrinfo.unix("/tmp/sock").ip?    #=> false

@see [[m:Addrinfo#ipv4?]], [[m:Addrinfo#ipv6?]], [[m:Addrinfo#unix?]]

