names=ipv4_loopback?
visibility=public
kind=defined

--- ipv4_loopback? -> bool

IPv4 のループバックアドレス(127.0.0.0/8) であれば真を返します。

@see [[m:Addrinfo#ipv6_loopback?]]

