names=ip_address
visibility=public
kind=defined

--- ip_address -> String
IP アドレスを文字列で返します。

  Addrinfo.tcp("127.0.0.1", 80).ip_address    #=> "127.0.0.1"
  Addrinfo.tcp("::1", 80).ip_address          #=> "::1"

@see [[m:Addrinfo#ip_port]], [[m:Addrinfo#ip_unpack]]

