names=ip_port
visibility=public
kind=defined

--- ip_port -> Integer
ポート番号を整数で返します。

  Addrinfo.tcp("127.0.0.1", 80).ip_port    #=> 80
  Addrinfo.tcp("::1", 80).ip_port          #=> 80

@see [[m:Addrinfo#ip_address]], [[m:Addrinfo#ip_unpack]]

