names=unix_path
visibility=public
kind=defined

--- unix_path -> String
Unix domain socket の path を文字列で返します。

  Addrinfo.unix("/tmp/sock").unix_path       #=> "/tmp/sock"

@raise SocketError アドレスが Unix domain socket のものでない場合に発生します

