names=udp
visibility=public
kind=defined

--- udp(host, port) -> Addrinfo

UDP アドレスに対する Addrinfo オブジェクトを返します。
  Addrinfo.udp("localhost", "daytime") 
  #=> #<Addrinfo: 127.0.0.1:13 UDP (localhost:daytime)>

@param host ホスト(IP アドレスもしくはホスト名)
@param port ポート番号(整数)もしくはサービス名(文字列)

