names=AI_ALL
visibility=public
kind=defined

--- AI_ALL -> Integer
Allow all addresses。

[[m:Socket.getaddrinfo]], [[m:Addrinfo.getaddrinfo]] の引数 flags に渡す
定数です。

@see [[man:getaddrinfo(3)]]

