names=AF_APPLETALK,PF_APPLETALK
visibility=public
kind=defined

--- AF_APPLETALK -> Integer
--- PF_APPLETALK -> Integer

Apple talk。
[[m:Socket.open]] の第一引数 domain に使用します。

@see [[man:socket(2linux)]], [[man:socket(2freebsd)]], [[man:ddp(7linux)]]

