names=AF_LINK,PF_LINK
visibility=public
kind=defined

--- AF_LINK -> Integer
--- PF_LINK -> Integer
@todo
Link layer interface。
[[m:Socket.open]] の第一引数 domain に使用します。


