names=AF_ECMA,PF_ECMA
visibility=public
kind=defined

--- AF_ECMA -> Integer
--- PF_ECMA -> Integer
@todo
European computer manufacturers。
[[m:Socket.open]] の第一引数 domain に使用します。


