names=EAI_SOCKTYPE
visibility=public
kind=defined

--- EAI_SOCKTYPE -> Integer
Socket type not supported

[[man:getaddrinfo(3)]], [[man:getnameinfo(3)]] などの
エラーコードです。
対応する [[m:Socket.getaddrinfo]], [[m:Addrinfo.getaddrinfo]] などは
エラーを [[c:SocketError]] に変換するため、この定数は直接は利用しません。

@see [[man:getaddrinfo(3linux)]], [[man:gai_strerror(3freebsd)]]

