names=NI_NOFQDN
visibility=public
kind=defined

--- NI_NOFQDN -> Integer

An FQDN is not required for local hosts, return only the local part.

[[m:Socket.getnameinfo]], [[m:Addrinfo#getnameinfo]] の引数 flags に渡す
定数です。

@see [[man:getnameinfo(3)]]

