names=SOL_AX25
visibility=public
kind=defined

--- SOL_AX25 -> Integer
@todo
AX.25 socket options。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第一引数(level)に使用します。

