names=cmsg_is?
visibility=public
kind=defined

--- cmsg_is?(level, type) -> bool
自身の level と type が引数のものと一致している場合に真を返します。

  ancdata = Socket::AncillaryData.new(:INET6, :IPV6, :PKTINFO, "")
  ancdata.cmsg_is?(Socket::IPPROTO_IPV6, Socket::IPV6_PKTINFO) #=> true
  ancdata.cmsg_is?(:IPV6, :PKTINFO)       #=> true
  ancdata.cmsg_is?(:IP, :PKTINFO)         #=> false
  ancdata.cmsg_is?(:SOCKET, :RIGHTS)      #=> false

@param level 一致を確認する cmsg_level (文字列、シンボル、整数)
@param type 一致を確認する cmsg_type (文字列、シンボル、整数)
@see [[m:Socket::AncillaryData#level]], [[m:Socket::AncillaryData#type]]

