names=family
visibility=public
kind=defined

--- family -> Integer
自身が保持している socket family を返します。

  p Socket::AncillaryData.new(:INET6, :IPV6, :PKTINFO, "").family
  #=> 10

@see [[m:Socket::AncillaryData.new]]

