names=ip_pktinfo
visibility=public
kind=defined

--- ip_pktinfo(addr, ifindex, spec_dst=addr) -> Socket::AncillaryData

type が IP_PKTINFO である AncillaryData を生成します。

IP_PKTINFO は非標準的拡張であり、システムによっては使えない場合があります。

  addr = Addrinfo.ip("127.0.0.1")
  ifindex = 0
  spec_dst = Addrinfo.ip("127.0.0.1")
  p Socket::AncillaryData.ip_pktinfo(addr, ifindex, spec_dst)
  #=> #<Socket::AncillaryData: INET IP PKTINFO 127.0.0.1 ifindex:0 spec_dst:127.0.0.1>

@param addr アドレス(文字列もしくは [[c:Addrinfo]])
@param ifindex インターフェースのインデックス(整数)
@param spec_dst パケットのローカルアドレス(文字列もしくは [[c:Addrinfo]])

@see [[m:Socket::AncillaryData#ip_pktinfo]],
     [[m:Socket::Constants::IP_PKTINFO]]

