names=ipv6_pktinfo
visibility=public
kind=defined

--- ipv6_pktinfo(addr, ifindex) -> Socket::AncillaryData

type が IPV6_PKTINFO である AncillaryData を生成します。

IPV6_PKTINFO は [[RFC:3542]] で定義されています。

  addr = Addrinfo.ip("::1")
  ifindex = 0
  p Socket::AncillaryData.ipv6_pktinfo(addr, ifindex)
  #=> #<Socket::AncillaryData: INET6 IPV6 PKTINFO ::1 ifindex:0>

@param addr アドレス(文字列もしくは [[c:Addrinfo]])
@param ifindex インターフェースのインデックス(整数)

@see [[m:Socket::AncillaryData#ipv6_pktinfo]],
     [[m:Socket::Constants::IPV6_PKTINFO]]

