names=bool
visibility=public
kind=defined

--- bool -> bool
オプションのデータ(内容)を真偽値に変換して返します。

@raise TypeError dataのバイト数が不適切である(sizeof(int)と異なる)場合に発生します
@see [[m:Socket::Option#data]]

