names=linger
visibility=public
kind=defined

--- linger -> [bool, Integer]
オプションが SOL_SOCKET/SO_LINGER である場合に、
オプションのデータ(内容)を真偽値と整数のペアとして返します。

@raise TypeError dataのバイト数が不適切である(sizeof(struct linger)と異なる)場合や、
                 level/optname が SOL_SOCKET/SO_LINGER でないに発生します
@see [[m:Socket::Option#data]]

