names=bool
visibility=public
kind=defined

--- bool(family, level, optname, boolean) -> Socket::Option

整数をデータとして持つ Socket::Option オブジェクト新たに生成し返します。

family, level, optname には Socket::SOL_SOCKET のような整数の他、
文字列("SOL_SOCKET", "SOCKET")、シンボル(:SOL_SOCKET, :SOCKET)を
指定することができます。

@param family ソケットファミリー
@param level ソケットオプションレベル
@param optname オプションの名前
@param boolean データ(真偽値)

