names=AI_NUMERICHOST
visibility=public
kind=defined

--- AI_NUMERICHOST -> Integer
Prevent host name resolution。

[[m:Socket.getaddrinfo]], [[m:Addrinfo.getaddrinfo]] の引数 flags に渡す
定数です。

@see [[man:getaddrinfo(3)]]

