names=IPV6_RECVDSTOPTS
visibility=public
kind=defined

--- IPV6_RECVDSTOPTS -> Integer
Receive all IP6 options for response。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第2引数(optname)に使用します。

@see [[m:Socket::Constants::IPPROTO_IPV6]],
     [[RFC:3542]]

