names=IPV6_RTHDRDSTOPTS
visibility=public
kind=defined

--- IPV6_RTHDRDSTOPTS -> Integer
Allows removal of sticky destination options header。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第2引数(optname)に使用します。

@see [[m:Socket::Constants::IPPROTO_IPV6]],
     [[RFC:3542]]

