names=IPV6_RTHDR
visibility=public
kind=defined

--- IPV6_RTHDR -> Integer
Allows removal of sticky routing headers。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第2引数(optname)に使用します。

@see [[m:Socket::Constants::IPPROTO_IPV6]],
     [[RFC:3542]]

