names=IP_MTU_DISCOVER
visibility=public
kind=defined

--- IP_MTU_DISCOVER -> Integer
Path MTU discovery。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第2引数(optname)に使用します。

@see [[m:Socket::Constants::IPPROTO_IP]], [[man:ip(7linux)]]

