names=IP_TOS
visibility=public
kind=defined

--- IP_TOS -> Integer
IP type-of-service。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第2引数(optname)に使用します。

@see [[m:Socket::Constants::IPPROTO_IP]], 
     [[man:ip(4freebsd)]], [[man:ip(7linux)]]

