names=MSG_DONTWAIT
visibility=public
kind=defined

--- MSG_DONTWAIT -> Integer
This message should be non-blocking。

[[m:BasicSocket#send]], [[m:BasicSocket#sendmsg]],
[[m:BasicSocket#recv]], [[m:BasicSocket#recvmsg]] の
flags 引数に用います。

@see [[man:send(2linux)]], [[man:recv(2linux)]],
     [[man:recv(2freebsd)]],


