names=NI_DGRAM
visibility=public
kind=defined

--- NI_DGRAM -> Integer
The service specified is a datagram service (looks up UDP ports)。

[[m:Socket.getnameinfo]], [[m:Addrinfo#getnameinfo]] の引数 flags に渡す
定数です。

  Socket.getnameinfo([ Socket::AF_INET, 514, "127.0.0.1"], Socket::NI_DGRAM)
  # => ["localhost", "syslog"]
  Socket.getnameinfo([ Socket::AF_INET, 514, "127.0.0.1"])
  # => ["localhost", "shell"]

@see [[man:getnameinfo(3)]]

