names=NI_MAXSERV
visibility=public
kind=defined

--- NI_MAXSERV -> Integer

[[man:getnameinfo(3)]] で用いるサービス名文字列の最大長さ。

@see [[man:getnameinfo(3linux)]]

