names=SO_TIMESTAMPNS
visibility=public
kind=defined

--- SO_TIMESTAMPNS -> Integer
@todo
Receive nanosecond timestamp with datagrams (timespec)。

@see [[m:Socket::Constants::SO_TIMESTAMP]],
     [[m:Socket::AncillaryData#timestamp]]



