names=SO_BINTIME
visibility=public
kind=defined

--- SO_BINTIME -> Integer
Timestamp (bintime)。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第2引数(optname)に使用します。

@see [[man:getsockopt(2freebsd)]], [[m:Socket::Constants::SOL_SOCKET]]
     [[m:Socket::Constants::SO_TIMESTAMP]],
     [[m:Socket::AncillaryData#timestamp]]

