names=TCP_NOOPT
visibility=public
kind=defined

--- TCP_NOOPT -> Integer
Don't use TCP options。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第2引数(optname)に使用します。

@see [[man:tcp(4freebsd)]], [[man:tcp(7linux)]]

