names=TCP_KEEPINTVL
visibility=public
kind=defined

--- TCP_KEEPINTVL -> Integer
Time between keepalive probes。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第2引数(optname)に使用します。

@see [[man:tcp(7linux)]]

