names=listen
visibility=public
kind=defined

--- listen(backlog) -> 0

[[man:listen(2)]] と同じ働きをします。

0 を返します。

@param backlog 接続を保留できる最大数

@return 0 を返します。


