names=accept_loop
visibility=public
kind=defined

--- accept_loop(sockets) {|sock, client_addrinfo| ...} -> ()
sockets でサーバソケットを受け取り、接続を待ち受け、
クライアントとの接続が確立するたびにブロックにその接続
ソケットを渡し呼び出します。

ブロックの引数はクライアントと接続したソケットオブジェクトと
[[c:Addrinfo]] オブジェクトです。

[[m:Socket.tcp_server_loop]] と同様、ブロックは
逐次的に呼び出されます。つまりブロックか終了するまで
次の接続は accept されません。
並列に通信したい場合は
スレッドのような並列実行機構を使う必要があります。

@param sockets 待ち受けたいサーバソケットの配列

@see [[m:Socket.tcp_server_loop]], [[m:Socket.unix_server_loop]],

