names=udp_server_loop
visibility=public
kind=defined

--- udp_server_loop(port) {|msg, msg_src| ... } -> ()
--- udp_server_loop(host, port) {|msg, msg_src| ... } -> ()
UDP のサーバを起動して、メッセージが来るごとに
ブロックを呼び出します。

ブロックに渡される引数は msg と msg_src の 2 つで、
msg は受け取ったメッセージ文字列で、 msg_src は 
通信相手の [[c:Socket::UDPSource]] オブジェクトです。

@param host 割り当てるホスト名
@param port 割り当てるポート番号
@see [[m:Socket.udp_server_sockets]], [[m:Socket.udp_server_loop_on]]

