names=unix
visibility=public
kind=defined

--- unix(path) -> Socket
--- unix(path){|sock| ... } -> object
Unix クライアントソケットを生成します。

ブロックが省略されたときは、生成されたソケットが返されます。

ブロックが渡されたときは、生成されたソケットを
引数としてブロックを呼び出します。メソッドの返り値は
ブロックの評価値となります。また、ブロックの終了後に
ソケットを [[m:IO#close]] します。

  # /tmp/sock と通信する
  Socket.unix("/tmp/sock") {|sock|
    t = Thread.new { IO.copy_stream(sock, STDOUT) }
    IO.copy_stream(STDIN, sock)
    t.join
  }

@param path 接続対象のパス(文字列)

