names=unix_server_socket
visibility=public
kind=defined

--- unix_server_socket(path) -> Socket
--- unix_server_socket(path){|sock| ... } -> object
Unix サーバソケットを生成します。

ブロックが省略されたときは、生成されたソケットが返されます。

ブロックが渡されたときは、生成されたソケットを
引数としてブロックを呼び出します。メソッドの返り値は
ブロックの評価値となります。また、ブロックの終了後に
ソケットを [[m:IO#close]] します。

  socket = Socket.unix_server_socket("/tmp/s")
  p socket                  #=> #<Socket:fd 3>
  p socket.local_address    #=> #<Addrinfo: /tmp/s SOCK_STREAM>
  
  Socket.unix_server_socket("/tmp/sock") {|s|
    p s                     #=> #<Socket:fd 3>
    p s.local_address       #=> # #<Addrinfo: /tmp/sock SOCK_STREAM>
  }

@param path 接続を待ち受けるパス(文字列)

