names=AI_NUMERICSERV
visibility=public
kind=defined

--- AI_NUMERICSERV -> Integer
Prevent server name resolution。

[[m:Socket.getaddrinfo]], [[m:Addrinfo.getaddrinfo]] の引数 flags に渡す
定数です。

@see [[man:getaddrinfo(3)]]

