names=AI_V4MAPPED_CFG
visibility=public
kind=defined

--- AI_V4MAPPED_CFG -> Integer
Accept IPv4 mapped addresses if the kernel supports it。

[[m:Socket.getaddrinfo]], [[m:Addrinfo.getaddrinfo]] の引数 flags に渡す
定数です。

@see [[man:getipnodebyname(3freebsd)]]

