names=IP_RECVERR
visibility=public
kind=defined

--- IP_RECVERR -> Integer
Enable extended reliable error message passing。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第2引数(optname)に使用します。

@see [[m:Socket::Constants::IPPROTO_IP]], [[man:ip(4freebsd)]]

