names=IPV6_PATHMTU
visibility=public
kind=defined

--- IPV6_PATHMTU -> Integer
Retrieve current path MTU。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第2引数(optname)に使用します。

@see [[m:Socket::Constants::IPPROTO_IPV6]],
     [[RFC:3542]]

