names=IPPROTO_EGP
visibility=public
kind=defined

--- IPPROTO_EGP -> Integer
@todo
Exterior Gateway Protocol。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]] の 
level 引数に使用します。

また、[[m:Socket.open]] の protocol 引数に渡す利用法もあります。

