names=IP_PMTUDISC_WANT
visibility=public
kind=defined

--- IP_PMTUDISC_WANT -> Integer
Use per-route hints。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第2引数(optname)に使用します。

@see [[m:Socket::Constants::IPPROTO_IP]], [[man:ip(7linux)]]

