names=IPV6_DONTFRAG
visibility=public
kind=defined

--- IPV6_DONTFRAG -> Integer
Don't fragment packets。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第2引数(optname)に使用します。

@see [[m:Socket::Constants::IPPROTO_IPV6]],
     [[RFC:3542]]

