names=INADDR_LOOPBACK
visibility=public
kind=defined

--- INADDR_LOOPBACK -> Integer
The loopback address。
IPv4のループバックアドレス 127.0.0.1 に対応する整数です。

@see [[man:ip(7linux)]], [[man:ip(4freebsd)]]

