names=MCAST_JOIN_GROUP
visibility=public
kind=defined

--- MCAST_JOIN_GROUP -> Integer
Join a multicast group

[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第2引数(optname)に使用します。

@see [[m:Socket::Constants::IPPROTO_IP]], [[m:Socket::Constants::IPPROTO_IPV6]],
     [[RFC:3678]]

