names=MCAST_LEAVE_SOURCE_GROUP
visibility=public
kind=defined

--- MCAST_LEAVE_SOURCE_GROUP -> Integer
Leave a multicast source group

[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第2引数(optname)に使用します。

@see [[m:Socket::Constants::IPPROTO_IP]], [[m:Socket::Constants::IPPROTO_IPV6]],
     [[RFC:3678]]

