names=SO_TYPE
visibility=public
kind=defined

--- SO_TYPE -> Integer
Get the socket type。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第2引数(optname)に使用します。

@see [[man:sys/socket.h(header)]], [[man:getsockopt(2freebsd)]],
     [[man:socket(7linux)]], [[m:Socket::Constants::SOL_SOCKET]]

