names=SOL_ATALK
visibility=public
kind=defined

--- SOL_ATALK -> Integer
@todo
AppleTalk socket options。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第一引数(level)に使用します。

