names=SCM_RIGHTS
visibility=public
kind=defined

--- SCM_RIGHTS -> Integer
Access rights.

[[c:Socket::AncillaryData]] の type として利用します。

@see [[c:Socket::AncillaryData]], [[m:Socket::AncillaryData#unix_rights]]
     [[m:BasicSocket#sendmsg]], [[m:BasicSocket#recvmsg]],
     [[man:unix(7linux)]], [[man:unix(4freebsd)]],
     [[man:sys/socket.h(header)]]

