names=SOCK_STREAM
visibility=public
kind=defined

--- SOCK_STREAM -> Integer

ストリーム通信。
[[m:Socket.open]] の第二引数 type に使用します。

@see [[m:Socket.open]], [[man:socket(2)]], [[man:socket(2linux)]],
     [[man:socket(2freebsd)]]

