names=SOL_TCP
visibility=public
kind=defined

--- SOL_TCP -> Integer
TCP socket options。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第一引数(level)に使用します。

@see [[m:Socket::Constants::IPPROTO_TCP]]

