names=SOL_IP
visibility=public
kind=defined

--- SOL_IP -> Integer
IP socket options。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第一引数(level)に使用します。

SOL_IP はポータブルではありません。 IPPROTO_IP のほうがよりポータブルです。

@see [[man:getsockopt(2)]], [[man:setsockopt(2)]], [[man:ip(7linux)]]
     [[m:Socket::Constants::IPPROTO_IP]]

