names=SOCK_RAW
visibility=public
kind=defined

--- SOCK_RAW -> Integer

RAW ソケット。
[[m:Socket.open]] の第二引数 type に使用します。

@see [[man:sys/socket.h(header)]], [[man:socket(2linux)]], 
     [[man:raw(7linux)]], [[m:Socket.open]]

