names=TCP_MAXSEG
visibility=public
kind=defined

--- TCP_MAXSEG -> Integer
Set maximum segment size。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第2引数(optname)に使用します。

@see [[man:tcp(4freebsd)]], [[man:tcp(7linux)]]

