names=TCP_CORK
visibility=public
kind=defined

--- TCP_CORK -> Integer
Don't send partial frames。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第2引数(optname)に使用します。

@see [[man:tcp(7linux)]]

