names=new
visibility=public
kind=defined

--- new(remote_addr, local_addr) {|msg| ... } -> Socket::UDPSource

Socket::UDPSource オブジェクトを生成します。

このメソッドはユーザは直接使いません。[[m:Socket.udp_server_loop]] が
内部で用います。

@param remote_addr リモートのアドレス([[c:Addrinfo]] オブジェクト)
@param local_addr ローカルのアドレス([[c:Addrinfo]] オブジェクト)
